/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Hind Madurai';
    src: url('../fonts/HindMadurai-Bold.woff2') format('woff2'),
        url('../fonts/HindMadurai-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('../fonts/HindMadurai-Regular.woff2') format('woff2'),
        url('../fonts/HindMadurai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('../fonts/HindMadurai-SemiBold.woff2') format('woff2'),
        url('../fonts/HindMadurai-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fredoka One';
    src: url('../fonts/FredokaOne-Regular.woff2') format('woff2'),
        url('../fonts/FredokaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.header {
    background: rgb(242, 206, 218, 0.3);
}

.container {
    width: 1125px;
    
    margin: 0 auto;
}

.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-nav-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.header-nav {
    width: 444px;
}

.header-nav-link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #150101;

    opacity: 0.6;

}

.header-nav-link:hover {
    color: #D23166;
    opacity: 1;
}

.nav-link-active {
    color: #D23166;
    opacity: 1;
}

.header-link {
    width: 165px;
    border: 1px solid #D23166;
    text-decoration: none;
    text-align: center;
    font-family: Hind Madurai;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFA;
    background: #D23166;
    border-radius: 5px;
    padding-top: 13px;
    padding-bottom: 13px;


}

.header-link:hover {
    background-color: #FAFAFA;
    color: #D23166;
    border-color: #D23166;
}

.header-logo {
    margin-top: 10px 0px;
    display: block;
}

.intro {
    background: rgb(242, 206, 218, 0.3);

}

.intro-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-bottom: 213px;
}

.intro-content {
    width: 665px;
    padding-bottom: 213px;
}

.intro-sweet {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F0101;
    margin-bottom: 0px;
    margin-top: 185px;
}

.intro-title {
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 57px;
    line-height: 120.5%;
    color: #0F0101;
    opacity: 0.9;
    width: 665px;
    margin-top: 0px;
    margin-bottom: 36px;
}

.intro-ice {
    color: #D23166;
    ;
}

.intro-discoreption {
    font-family: Hind Madurai;
    font-size: 18px;
    line-height: 27px;
    width: 523px;
    margin-top: 35px;
    color: #0F0101;

    opacity: 0.6;
    margin-bottom: 50px;
}

.intro-link {
    padding: 13px 50px;


}

.intro-img {
    position: absolute;
    right: -230px;
    top: 26px;
}

.visualliy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    border: 0px;
    clip: rect(0 0 0 0);
}

.rek-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.rek-item {
    width: 250px;

    text-align: center;

    margin: 100px 39px 100px 0px;
    background: #FFFFFF;
    border-radius: 7px;
    padding-bottom: 27px;
}

.rek-item:nth-child(4n),
.rek-item:last-child {
    margin-right: 0px;

}

.rek-item:hover {
    -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
}

.rek-item-name {
    margin-top: 23px;
    margin-bottom: 9px;
    font-family: Hind Madurai;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.name-end {
    margin-top: 18px;
}

.rek-item-discraption {
    font-family: Hind Madurai;
    margin: 0px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #000000;

    opacity: 0.6;
}

.braun-sugar {
    background: #F8EDF0;
}

.braun-content {
    width: 442px;
    margin-top: 141px;
    margin-bottom: 146px;

}

.braun-title {
    font-family: Hind Madurai;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 49px;
    width: 349px;
    padding: 0px;
    color: #150101;
    margin: 0px;
}

.braun-discraption {
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    margin-top: 16px;
    margin-bottom: 50px;
    opacity: 0.6;
}

.braun-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.braun-img {
    position: absolute;
    right: -54px;
    bottom: -40px;

}

.products-container {
    text-align: center;
    padding-top: 137px;
    padding-bottom: 149px;
}

.produkt-name {
    font-family: Hind Madurai;
    font-weight: 600;
    font-size: 44px;
    line-height: 61px;
    color: #150101;
}

.products-nav {
    margin: 0 auto;
    width: 891px;
}

.produkt-nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
}

.product-nav-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;

}

.produkt-nav-link-active {
    border-bottom: 3px solid #D64374;
    color: #000000;
    opacity: 1;
}

.produkt-nav-link:hover {
    border-bottom: 3px solid #D64374;
    color: #000000;
    opacity: 1;
}

.product-list {
    list-style: none;
}

.product-item {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Hind Madurai;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.produkt-item-content {
    margin-left: 87px;
    margin-top: 110px;
}

.product-content-name {
    margin: 0px;
}

.product-discotiption {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: 454px;
    opacity: 0.7;
    margin-top: 11px;
    margin-bottom: 28px;
}

.hozirgi-narx {
    font-family: Hind Madurai;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.oldingi-narx {
    font-family: Hind Madurai;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    margin-left: 5px;
    color: #000000;

}

.product-link {
    margin-top: 16px;
    padding: 13px;
    display: block;
}

.product-list-img {
    margin-top: 40px;
    text-align: left;
    background: url(YsS5sVYwga.jpg);
    border-radius: 10px;
}

.product-item:nth-child(2n) {

    text-align: right;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}


.product-item-content-img1 {
    width: 59px;
    height: 58px;
    display: block;
    background-color: gray;
    border-radius: 50%;
}

.produkt-item-content4 {

    margin-top: 110px;
    position: relative;
    margin-right: 0px;
    width: 332p;
}

.content4 {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
}

.product-amirikan {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: left;

    color: #000000;

    opacity: 0.7;
}

.amicran-h3 {
    margin-left: 21px;
}

.product-discotiption4 {
    text-align: center;
    margin-left: 10px;
    margin-top: 46px;

}

.product-discotiption4::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 10px;
    right: 0px;
    top: 174px;
    display: block;
    background-image: url(../img/tirnoq2.svg);
}

.product-discotiption4::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 10px;
    top: 123px;
    left: -5px;
    display: block;
    background-image: url(../img/tirnoq.svg);

}

.product-list-tartib {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    text-align: center;
    padding-left: 0px;
}

.product-btn {

    width: 8px;
    height: 14px;
    border: none;
    margin-top: 22px;
}

.product-btn1 {
    background-image: url(../img/right.svg);
}

.product-btn2 {
    background-image: url(../img/left.svg);
}

.product-item-content-img1-noactive {
    width: 35px;
    height: 35px;
    margin-top: 10px;
}

.list-img-circle {
    margin-right: 25px;
}

.simple {
    background-color: #F8EDF0;
}

.simple-container {
    position: relative;
}

.simple-title {
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    color: #000000;
}

.simple-content {
    padding-bottom: 144px;
    width: 621px;
    margin-right: 117px;
    margin-left: 456px;
    margin-top: 90px;
}

.simple-discraption {
    width: 607px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0F0101;
}

.simple-item-img {
    background-color: green;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center;
}

.simple-list {
    list-style: none;
    padding-left: 0px;
}

.simple-item-img1 {
    background-image: url(../img/palis.svg);
}

.simple-item-img2 {
    background-image: url(../img/aravacha.svg);
}

.simple-item-img3 {
    background-image: url(../img/pensil.svg);
}

.simple-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
}

.simple-list-link {
    text-decoration: none;
    font-size: 22px;
    line-height: 26px;
    margin-left: 10px;
    color: #000000;
}

.smple-link {
    margin: 0px;
    padding: 0px;
    width: 200px;

}

.smple-link-play {

    width: 200px;
    height: 77px;
    display: inline-block;
    background-image: url(../img/playmarket.svg);
}

.smple-link-apple {
    background-image: url(../img/playmarket.svg);
    width: 200px;
    height: 77px;
    display: inline-block;
}

.simple-content::before {
    content: "";
    background-image: url(../img/tel.jpg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 305px;
    height: 627px;
    left: 0px;
    top: 56px;
}

.forum-container {
    text-align: center;
    padding-bottom: 71px;
    position: relative;
}

.forum-name {
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    width: 522px;
    color: #000000;
    margin: 105px auto 36px;
}

.form {
    width: 637px;

    margin-left: 220px;
}

.input {
    width: 303px;
    padding: 29px 25px;
    background: #FFFFFF;
    border: 1px solid #FFA3A3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;

}

.form-btn {
    padding: 27px 31px 27px 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    background: #D64374;
    border-radius: 5px;
    position: absolute;
    bottom: 71px;
    right: 267px;
}

.input2 {
    margin-top: 37px;
    width: 637px;
    background: #FFFFFF;
    border: 1px solid #FFA3A3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
    padding: 29px 25px;

}

.select {
    margin-left: 25px;
}

.footer {
    background: #0A0808;
}

.footer-container {
    position: relative;
}

.footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    list-style: none;
    margin-bottom: 114px;
}

.footer-logo-img {
    display: block;
    margin-top: 70px;
}

.footer-discraption {
    font-size: 12px;
    line-height: 17px;
    width: 207px;
    color: #FFFFFF;

    opacity: 0.7;
}

.fllow {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 25px;
}

.footer-img-link {
    margin-right: 10px;
}

.footer-item2 {
    margin-bottom: 114px;
    display: block;
    margin-top: 143px;
    margin-left: 37px;
}

.footer-item2-link {
    display: block;
    text-decoration: none;

    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 10px;
}
.footer-item2-link:hover{
    font-size: 12px;
    line-height: 14px;
    opacity: 1;
    color: #FFFFFF

}
.footer-item2-link-active {
    font-size: 12px;
    line-height: 14px;
    opacity: 1;
    color: #FFFFFF
}

.footer-item3 {
    width: 115px;
    margin-top: 150px;
    margin-left: 168px;
}

.label {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;



    color: #FFFFFF;
}

.footer-item4 {
    margin-top: 136px;
    margin-left: 170px;
}

.inpot3 {
    width: 388px;
    background: #0A0808;
    color: #fff;
    margin-top: 13px;
    padding: 20px;
}

.footer-form-btn {
    padding: 18px 16px 18px 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    background: #D64374;
    border-radius: 5px;
    position: absolute;
    right: 0px;
    top: 168px;
}

.footer-form-img {
    line-height: 43px;
    margin-top: 20px;
}